@theme {
    --color-peach : #F5D5AE;
    --color-sage : #8FA68E;
    --color-navy : #233232;
    --color-warm-gray : #F8F6F3;
    --font-geologica: 'Geologica', sans-serif;
    --color-clifford: #da373d;
  }